<h1>Properties</h1>

<%= link_to 'New Property', new_owner_property_path, class: 'btn btn-primary mb-3' %>

<div class="row">
  <% @properties.each do |property| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="https://img.freepik.com/free-photo/luxury-pool-villa-spectacular-contemporary-design-digital-art-real-estate-home-house-property-ge_1258-150749.jpg?t=st=1718181671~exp=1718185271~hmac=9eb3c014f801ca9cc3239edcb56ec187ef728ae0bb4dba8aa6f17e7ae70baad0&w=1380" class="card-img-top" alt="Property image">
        <div class="card-body">
          <h5 class="card-title">Property Type: <%= property.property_type.name %></h5>
          <p class="card-text"><%= property.property_type.description %></p>
          <p class="card-text">
            <%= property.address_line_1 %><br>
            <%= property.city %>, <%= property.state %><br>
            <%= property.country %> - <%= property.postal_code %><br>
            <%= property.description %>
          </p>
          <%= link_to 'Show', owner_property_path(property), class: 'btn btn-secondary' %>
          <%= link_to 'Edit', edit_owner_property_path(property), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', owner_property_path(property), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
