<!DOCTYPE html>
<html>
  <head>
    <title>FindYourRental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'admin/shared/sidebar' %>
  	<div class="wrapper d-flex flex-column min-vh-100">
      <%= render 'admin/shared/header' %>
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <%= yield %>
        </div>
      </div>  
      <%= render 'admin/shared/footer' %>
    </div>
  </body>
</html>
